* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif !important;
    background: #eff2f9;
}

.side-navbar {
    width: 80px;
    height: 100%;
    position: fixed;
    /* margin-left: -300px; */
    background-color: #252839;
    transition: 0.5s;
    z-index: 999;
    overflow: hidden;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #00000000;
}

.my-container {
    transition: 0.4s;
    margin-left: 80px;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 300px;
}

#menu-btn {
    color: #000000;
    margin-left: 0px;
    position: relative;
    top: 6px;
}

#menu-btn i {
    font-size: 20px;
    position: relative;
    top: -1px;
    color: white;
}

.profile-dropdown {
    background: white !important;
    box-shadow: 0 0.2rem 2rem 2px rgb(0 0 0 / 2%) !important;
    border: 1px solid #e4e4e4 !important;
    border-radius: 8px !important;
}

.side-navbar.active-nav .sidebar-ul {
    padding: 10px 0px 5px 0px;
    overflow-y: auto;
    height: calc(100vh - 160px);
    display: block;

}

.side-navbar.active-nav .sidebar-ul li {
        border-radius: 50px !important;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    border-radius: 0px;
    padding: 15px 10px 15px 40px;
    text-align: left;
    margin-bottom: 1px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #34374e;
    margin-bottom: 7px;
    background: #222536;
}

.sidebar-ul li.nav-link:hover {
    color: white;
    background: rgb(90 75 192);
    background: linear-gradient(90deg, rgb(90 75 192) 0%, rgb(140 60 232) 100%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

span.bd-item {
    font-size: 18px;
    display: inline-block;
    padding: 0px 0px 0px 8px;
    color: #747474;
    font-weight: 500;
}












.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: white;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    position: relative;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.dropdown-content,
.submenu {
    display: none;
    padding-left: 20px;
    list-style: none;
}


.has-submenu .submenu li {
    padding: 5px 0;
}


.dropdown.active .dropdown-content,
.has-submenu.active .submenu {
    display: block;
}



.dropdown-title {
    color: #1aabf5;
    font-weight: 500;
    display: table;
    background: #112d5c;
    position: relative;
    z-index: 999;
    padding-right: 5px;
}


.drop-icon {
    color: rgb(255 255 255);
    font-size: 14px;
}

.side-icon {
    width: 20px;
    margin-right: 5px;
}

.img-set {
    position: relative;
    top: -2px;
}

.dropdown-content li a {
    font-size: 17px !important;
    color: #cfe0ff !important;
    font-weight: 400 !important;
}
.side-navbar .sidebar-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 0px;
    width: 80px;
    background: transparent;
    text-align: center;
}
.side-navbar.active-nav .sidebar-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 30px;
    width: 100%;
    background: transparent;
}

.version-text {
    font-size: 15px;
    text-align: center;
    color: rgb(171, 171, 171);
    opacity: 0.7;
}

@media (max-width:767px) {
    .cust-select-dash {
    font-size: 1.1rem !important;
    }
    .topbar-title-con{
        margin-left: 50px;
    }
.cust-int,.sortby-text,.btn-search{
    font-size: 1.1rem !important;
}
    #menu-btn {
        color: #ffffff;
        margin-left: 0px;
        position: absolute;
        z-index: 999 !important;
        left: 220px !important;
        transition: 0.5s;
        background: #ffffff;
        padding: 10px 10px 5px 10px;
        top: 15px;
    }
    .article-body-con {
        font-size: 18px !important;
    }
    
    .sec-title{
        font-size: 22px !important;
    }
    .apexcharts-text tspan {
        font-size: 0.9rem !important;
     }
    span.bd-item {
        padding: 0px 0px 0px 5px;
    }

    .active-cont {
        margin-left: 80px !important;
    }

    #menu-btn.menu-btn-cls {
        left: 0px !important;
    }

    .page-title {
        margin-left: 5px !important;
    }
}

.header-sec {
    padding: 15px 0px;
    border-bottom: 1px solid rgb(214 216 217) !important;
    background: white;
}

.btn-pin {
    background: transparent;
    border: 0px;
    position: relative;
    top: -4px;
    display: none;
}

.btn-pin img {
    width: 20px;
}

.dropdown-img li:hover .btn-pin {
    display: block;
}

.dropdown-img li:hover a {
    color: white;
}




.sidebar-icon {
    width: 25px;
    margin: 0px !important;
}

.side-navbar li.nav-link.active {
    background: rgb(90 75 192);
    background: linear-gradient(90deg, rgb(90 75 192) 0%, rgb(140 60 232) 100%);
}

.social-media-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

.social-media-ul li {
    width: 20%;
    padding: 10px;
    float: left;
}

@media (max-width:1200px){
    
    .social-media-ul li {
        width: 25%;
        padding: 10px;
        float: left;
    }
    }
@media (max-width:998px){
    
.social-media-ul li {
    width: 33.3%;
    padding: 10px;
    float: left;
}
}
@media (max-width:767px){
    
.social-media-ul li {
    width: 50%;
    padding: 10px;
    float: left;
}
.sidebar-ul li {
    font-size: 17px !important;
}
}
@media (max-width:500px){
    
    .social-media-ul li {
        width: 100%;
        padding: 10px;
        float: left;
    }
    .sidebar-icon {
        width: 20px !important;
    }
    }
.social-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 35px 10px 30px 10px;
    background: white;
    border-radius: 25px;
    border: 1px solid #facca5;
    border-bottom: 4px solid #facca5;
    min-height: 225px;
}

.social-icon {
    width: 80px;
    margin-bottom: 15px;
}
span.social-title {
    text-transform: uppercase;
    color: #9e2c00;
    font-size: 1.2rem;
    font-weight: 700;
}
.top-logo{
    width: 450px;
    max-width: 100%;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}

/* middle sec css */

.middle-sec {
    height: calc(100vh - 87px);
    overflow: auto;
    padding: 20px 10px;
}

.middle-sec.nobg-sec{
    background: none !important;
}


  

  /* width */
.sidebar-ul::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .sidebar-ul::-webkit-scrollbar-track {
    background: #782dcf !important;
  }
  
  /* Handle */
  .sidebar-ul::-webkit-scrollbar-thumb {
    background: #311254 !important;
  }
  
  /* Handle on hover */
  .sidebar-ul::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 
.mid-rt-sec{
    padding: 20px;
}
.gen-content-sec{
    height: calc(100vh - 225px);
    position: relative;
    background-color: #e9ecf3;;
}
@media (max-width:992px){
    .middle-sec {
        height: calc(100vh - 87px);
        overflow: auto;
        padding: 20px 10px !important;
    }
}










.side-navbar.active-nav{
    width: 300px;
    border-right: 1px solid #323756;
}
.side-navbar.active-nav .close-menu,.side-navbar .open-menu{
    display: none;
}
.side-navbar.active-nav .open-menu{
    display: block;
}
.side-navbar .sidebar-ul .nav-link span{
    display: none;
}
.side-navbar.active-nav .sidebar-ul .nav-link span{
    display: inline-block;
}


.side-navbar .sidebar-ul li {
   color: rgb(255, 255, 255);
    cursor: pointer;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #34374e;
    margin-bottom: 7px;
    background: #222536;
}


.side-navbar.active-nav .sidebar-ul {
    padding: 10px 10px !important;
    overflow-y: auto;
    height: calc(100vh - 165px);
    display: block;
}

.side-navbar .sidebar-ul {
    height: calc(100vh - 213px);
    display: block;
    overflow-y: auto;
}


.para-con{
    font-size: 1.3rem;
}




.credit-sec {
    border: 1px solid #909090;
    padding: 6px 20px;
    border-radius: 50px;
    background: transparent;
    color: black;
}
.credit-sec img{
    width: 22px;
    position: relative;
    left: -5px;
    top: -1px;
}



/* DAshboard Sec css */
.wel-sub-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #8a8a8a !important;
}

@media (max-width:767px) {

    .wel-sub-text,
    .wel-right-sub-text {
        font-size: 1.1rem !important;
    }

    .wel-main-text {
        font-size: 1.3rem;
    }

    .btn-contact {
        font-size: 1.1rem !important;
    }
}

.wel-para {
    font-size: 1.2rem;
}

.wel-area {
    background: #ffffff !important;
    padding: 20px 40px;
    height: 100%;
}

.wel-area-right {
    padding: 20px;
    height: 100%;
}

.wel-main-text {
    font-weight: 600;
    color:  #000000 !important ;
}

.wel-right-sub-text {
    font-size: 1.3rem;
    color: #91908a;
    font-weight: 500;

}

.btn-watch-video {
    background: #782dcf;
    color: white;
    width: 100%;
    font-size: 1.2rem;
}

.btn-watch-video:hover {
    color: #782dcf !important;
    border: 1px solid #782dcf !important;
    background: white;
}

.remove-img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-contact {
    background: #6649c9;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;   
    border-radius: 50px;
    padding: 8px 30px;
}

.btn-contact:hover {
    color: #6649c9 !important;
    background: white !important;
    border: 1px solid #6649c9 !important;
}



.icon-set{
   position: relative;
   top: -2px;
}
.create-btn-sec {
    margin-bottom: 15px;
    cursor: pointer;
    background: #ffffff;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    padding: 40px 20px;
    border-radius: 10px;
    min-height: 200px;
    align-items: center;
    border-bottom: 3px solid #252839;
    font-weight: 500;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.create-btn-sec:hover{
   background: #252839;
   color: white;
}

.create-btn-sec img{
     width: 150px;
}
@media (max-width:767px){
   .create-btn-sec {
    font-size: 1.3rem !important;
}
}

.sec-title {
    font-size: 25px;
    font-weight: 500;
    color: #484848;
}
.apexcharts-toolbar{
   display: none !important;
}
.apexcharts-text tspan {
    font-size: 1.2rem;
    color: #484848;
}
.cust-select-con{
   width: 320px;
   max-width: 100%;
}
.cust-select-dash {
    font-size: 1.3rem;
    width: 100%;
    padding: 10px 15px 10px 52px;
    background-color: #f6fbff;
    border: 1px solid #dadfe4;
}


img.cal-img {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 30px;
}
.img-box-theme{
        width: 180px;
        max-width: 100%;
    background: #fafafa80;
    border: 1px solid #d2d2ed;
    border-radius: 30px;
    padding: 30px;
    flex-shrink: 0;
}

/* table css start */


    table tbody tr:nth-child(odd) {
      background-color: #ffffff;
    border: 0px solid !important;
    color: #000000;
}
         table tbody tr:nth-child(even) {
      background-color: #edeff3;
    border: 0px solid !important;
    color: #000000;
}
.search-box input {
    padding: 10px 30px 10px 12px;
    border: 1px solid #cdc7d8;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #f5f5ff;
}
#results {
     padding: 10px 30px 10px 12px;
    border: 1px solid #cdc7d8;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #f5f5ff;
}
@media (max-width:767px) {
   #results,.table-header,.search-box input {
    font-size: 1.1rem;
}
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.2rem;
    padding: 16px 16px 0px 16px;
}
.table-con {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    min-height: 400px;
    border-top: 1px solid #dcd9ef;
}

 .table-container {
    background: #ffffff !important;
}

.credit-sec-item {
    padding: 8px 15px;
    border-right: 1px solid #bbb5d6;
}

.buy-sec-item {
    padding: 8px 15px;
}
table thead th {
    background: #edeff3;
}
table{
   font-size: 1.2rem;
   width: 100%;
}
@media (max-width:992px){
   .table-con {
    min-height: calc(100vh - 385px) !important;
}
}
@media (max-width:880px){
   .my-container.active-cont .table-con{
        min-height: calc(100vh - 385px) !important;
   }
}
@media (max-width:767px){
   .table-con {
        min-height: calc(100vh - 285px) !important;
        max-height: 400px;
    }
  .my-container.active-cont .table-con {
        min-height: calc(100vh - 385px) !important;
        height: 200px !important;
    }
}
@media (max-width:767px){
   .credit-sec{
      font-size: 1.1rem !important;
   }
}
@media (max-width: 450px) {
    .credit-sec {
        font-size: 1rem !important;
    }
}







 .table-container {
    width: 100%;
    background: #24282e;
    border-radius: 8px;
    border: 0px solid #d7dee7;
    font-size: 1rem;
}
.table-header label {
    color: #000000;
}
table tbody tr:nth-child(odd){
   background-color: #007cb6;
}
.table-header {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.1rem;
    padding: 16px 16px 0px 16px;
}
#results {
       padding: 6px 12px;
    border: 0px solid #e7e7ef;
    border-radius: 4px;
    background-color: #f6fbff;
    font-size: 1.1rem;
    color: #000000;
}
.search-box {
    display: flex
;
    gap: 8px;
}
table thead {
    position: sticky;
    top: 0px;
    background: white;
}
.animify-table tbody tr td:nth-child(1), .animify-table thead tr th:nth-child(1) {
    width: 100px;
}
table th {
   background: #ffffff;
   color: #000000 !important;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 12px 12px 8px 12px;
}
table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 0px solid #d7dee7;
    color: #000000;
}
table th .table-th-title {
    white-space: nowrap;
    margin-right: 15px;
}
.btn-arrow {
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    color: #d2d2d3;
}
.btn-down-arrow {
    position: relative;
    top: -6px;
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    color: #d2d2d3;
}
table tbody tr:nth-child(odd) {
      background-color: #ffffff;
    border: 0px solid !important;
    color: #000000;
}
.pagination {
         display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 16px;
    border-top: 1px solid #cfe4ea2b;
    color: #3d3d3d;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 600;
}
.page-controls .btn-pre, .page-controls .btn-nxt {
    background-color: transparent !important;
}
.page-controls button {
padding: 5px 14px;
    display: inline-flex;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 0px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    color: #000000;
    font-weight: 500;
}
.page-controls .btn-page.active {
   background-color: #6649c9;
    color: white;
}
.seh-icon {
      position: absolute;
    top: 17px;
    right: 10px;
    color: #a4a5c8;
    font-weight: 600;
    font-size: 1.3rem;
}

.btn-link {
        color: white;
    background: #241936;
    height: 40px;
    width: 43px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-view {
   color: white;
    background: #6649c9;
    height: 40px;
    width: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-view:hover {
    background: #471b81;
    color: white;
}
.btn-link:hover {
    background: #525252;
    color: white;
}
.draft-batch {
    background: #75769c;
    color: white;
    display: inline-block;
    padding: 4px 20px !important;
    border-radius: 50px;
    font-weight: 400;
}
.pub-batch{
   background: #6649c9;
   color: white;
   display: inline-block;
   padding: 4px 20px !important;
   border-radius: 50px;
   font-weight: 400;
}
@media (max-width: 767px) {
    table {
        font-size: 1rem !important;
    }
    table th {
        font-size: 1.1rem !important;
    }
}
.animify-table thead tr th:last-child,.animify-table tbody tr td:last-child{
   width: 150px;
} 
.animify-table thead tr th:nth-child(5),.animify-table tbody tr td:nth-child(5){
   width: 200px;
} 



.btn-con {
    color: white;
    background: #6829bd;
    height: 40px;
    white-space: nowrap;
}
.btn-con:hover {
    background: #56219e;
    color: white;
}

.btn-process {
    color: white;
    background: #525252;
    height: 40px;
    white-space: nowrap;
}
.btn-process:hover {
    background: rgb(125, 125, 125);
    color: white;
}

.btn-theme{
font-size: 1.2rem;
    display: flex
;
    align-items: center;
    padding: 5px 20px;
    background: #6829bd;
    color: white;
    gap: 5px;
}

.btn-theme:hover{
    background: #4f1d91;
    color: white;
}
@media (max-width:767px){
   .score-sec {
      font-size: 1rem !important;
      gap: 3px !important;
              padding: 3px 10px
   }
 .score-sec img{
   width: 20px !important;
 }
}
.table-con.dashboard-table{
    min-height: 400px;
}
@media (max-width:767px){
    .credit-sec span{
        display: none !important;
    }
    .credit-sec img {
    left: -0px !important;
}
}
/* table css end */




